<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/identification.css')}}">
</head>

<body>
    <script src="https://kit.fontawesome.com/c1b3701aff.js" crossorigin="anonymous"></script>
    <div class="side-nav">
        <div class="side-nav-wrap">
            <div class="logo">
                <img src="{{url_for('static',filename='logo.png')}}" width="200px" height="200px" alt="" srcset="">
            </div>
            <ul>
                <li>
                    <a href="{{url_for('identify')}}"><i class="fa-regular fa-id-card nav-icon"></i>Identification</a>
                </li>
                <li>
                    <a href="{{url_for('home')}}"><i class="fa-solid fa-file-invoice nav-icon"></i>Report</a>
                </li>
                <li>
                    <a href="{{url_for('search')}}"><i class="fa-solid fa-magnifying-glass nav-icon"></i>Search</a>
                </li>
                <li>
                    <a href="{{url_for('history')}}" class="active"><i
                            class="fa-solid fa-clock-rotate-left nav-icon"></i>History</a>
                </li>
                <li>
                    <a href="{{url_for('login')}}" class="logout"><i
                            class="fa-solid fa-right-from-bracket nav-icon"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <header class="search_header">
            <input type="text" name="search-bar" id="ip2" placeholder="Enter The Plant Name " required>
            <div class="user_profile">
                <h4>{{username}}</h4>
                <img class="user_icon"
                    src="{{url_for('static',filename='White And Black Modern Abstract Beauty Logo.png')}}" alt=""
                    srcset="">
            </div>
        </header>
    </div>

    <table id="customers" class="customers">
        <tr>
            <th>
                Plant Name
            </th>
            <th>
                Date
            </th>
        </tr>
        <tr>
            <td>
                Aloevera
            </td>
            <td>
                just now
            </td>
        </tr>
        <tr>
            <td>
                Aleovera
            </td>
            <td>
                one hour ago
            </td>
        </tr>
        <tr>
            <td>
                Tulsi
            </td>
            <td>
                a week ago
            </td>
        </tr>
        <tr>
            <td>
                Hibiscus
            </td>
            <td>
                a month ago
            </td>
        </tr>
        <tr>
            <td>
                Tulsi
            </td>
            <td>
                on 23.02.12
            </td>
        </tr>
        <tr>
            <td>
                Doddpathre
            </td>
            <td>
                on 12.01.12
            </td>
        </tr>
    </table>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
    <script>
        //scroll animation
        ScrollReveal({ distance: '80px', duration: 1500, delay: 100 });
        ScrollReveal().reveal('.side-nav', { origin: 'left' });
        ScrollReveal().reveal('.logo_img', { origin: 'top', delay: 330 })
        ScrollReveal().reveal('.search_header , .customers', { origin: 'top' });
        ScrollReveal().reveal('.drop-container, .predict_output, .view_report, .outer', { origin: 'bottom' });
    </script>
</body>

</html>